html {
  font-size: 100%;
}
.main-tab {
  padding: 0.25rem !important;
  white-space: nowrap;
}
@media (min-width:360px)  {
  .main-tab {
    padding: 0.5rem !important;
  }
}
@media (min-width:481px)  {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html {
    font-size: 120%;
  }
}
@media (min-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  html {
    font-size: 130%;
  }
}
@media (min-width:961px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  html {
    font-size: 150%;
  }
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  touch-action: manipulation;
}
